.login-form {
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    width: 45%;
    border-radius: 5px;
    background: antiquewhite;
}

label {
    font-size: 15px;
    font-style: oblique;
}

input {
    height: 25px;
    width: -webkit-fill-available;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    margin: 5px 5px 5px 0;
}