<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>members</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/members.css" />
</head>
<body>
    <div id="nav-bar"></div>
    <h1>Technocrats</h1>
    <div class="row">
        <div class="column">
            <img src="../static/images/silas.jpg" alt="Silas">
            <label>Silas Kenneth</label>
        </div>
        <div class="column">
            <img src="../static/images/verence.jpg" alt="Lola">
            <label>Verence Lola</label>
        </div>
        <div class="column">
            <img src="../static/images/salma.jpeg" alt="Salma">
            <label>Salma Nyagaka</label>
        </div>
        <div class="column">
            <img src="../static/images/timothy.jpg" alt="Timo">
            <label>Timothy Kamau</label>
        </div>
        <div class="column">
            <img src="../static/images/wilson.JPG" alt="Wilson">
            <label>Wilson Gakuru</label>
        </div>
        <div class="column">
            <img src="../static/images/snyder.jpg" alt="Snyder">
            <label>Snyder Mbishai</label>
        </div>
    </div>
</body>
</html>